<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Wit Streetwear</title>
    <style>
        table,th,td {border: 1px solid}
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <h1>Get Wit Streetwear</h1>
    <h2>CUSTOM FASHIONS</h2>
    <ul>
        <li>Tees</li>
        <li>Shoes</li>
    </ul>

    <table style="width:30%">
        <tr>
            <th>Python</th>
            <th>Java</th>
        </tr>
            <tr>
                <td>PyCharm</td>
                <td>DJANGO</td>
            </tr>
    </table>
</body>
</html>